* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 80%;
  max-width: 1000px;
  display: flex;
  /* height: 380px;
  overflow: hidden; */
}

.slider-left {
  width: 80%;
  background-color: rgb(237, 236, 157);
}

.slider-left .item {
  display: none;
  position: relative;
}

.slider-left .item.active {
  display: block;
}

.slider-left .item .text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

.slider-right {
  width: 20%;
  background-color: rgb(99, 87, 87);
  position: relative;
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.slider-right .item {
  height: calc(100% / 5);
  border: 1px solid black;
  opacity: 0.5;
  background-color: rgb(221, 105, 105);
}

.slider-right .item img {
  height: 100%;
}

.slider-right .item.active {
  opacity: 1;
  border: 1px solid white;
}

.prev, .next {
  position: absolute;
  transform: translateX(-50%);
  left: 46%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 10px;
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
  text-align: center;
}

.prev {
  top: 0;
}

.next {
  bottom: 0;
}

.prev:hover, .next:hover {
  background-color: white;
}





